<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">


<dom-module id="text-editor">
  <template>
    <style>
      :host {
        display: block;
      }

      header{
        text-align: center;
        background: #1bbaa459;
      }

      h1{
        color: #242f34e0;
      }
      h2{
        padding: 0;
        margin: 0;
      }

      .main-container{
        margin: 0 auto;
        width: 800px;
      }

      select{
        width: 100%;
        height: 20px;
      }

      textarea {
        width: 100%;
        margin-top: 10px;
        height: 300px;
      }

      .btn-green {
        background: #0b8043;
        display: inline-block;
        margin-left: -1px;
        color: #FFF;
        text-align: center;
      }
      .btn-red{
        background: #b21417;
        display: inline-block;
        margin-left: -1px;
        color: #FFF;
        text-align: center;
      }

      .load {
        display: inline-block;
        width: 300px;
      }

    </style>

    <iron-ajax
        id="sendFileToUpload"
        method='POST'
        url="[[baseUrl]]/upload"
        handle-as="json"
        debounce-duration="300"
        on-response="reloadFiles">
    </iron-ajax>
    <iron-ajax
        id="getFileByName"
        method='GET'
        url="[[baseUrl]]/texts/[[fileName]]"
        handle-as="json"
        on-response="parseTextFile">
    </iron-ajax>
    <iron-ajax
        id="deleteFileByName"
        method='DELETE'
        url="[[baseUrl]]/texts/[[fileName]]"
        handle-as="json"
        on-response="deleteTextFile">
    </iron-ajax>
    <iron-ajax
        id="getAllTextFiles"
        method='GET'
        url="[[baseUrl]]/texts"
        handle-as="json"
        on-response="parseTextFiles">
    </iron-ajax>

    <div>
      <header>
        <img src="../../asets/abas_logo.png" alt="" class="logo">
        <h1 class="text-center">[[prop1]]</h1>
      </header>
      <div class="main-container">
        <h2>Please Upload File</h2>
        <paper-input id="saveAs" type="text" value="{{fileName::input}}" class="save-as" placeholder="Save as :Filename" disabled$="[[isUploded]]"></paper-input>
        <paper-input id="inputFile" type="file" on-change="parseInputTextFile" accept=".txt" class="load"></paper-input>
        <h3>Select from uploaded files</h3>
        <select id="fileSelect" style="width:100%;" on-change="getFileByName">
          <option value="">Choose a file</option>
          <template is="dom-repeat" items="{{fileNames}}" as="file">
            <option value="{{file}}">{{file}}</option>
          </template>
        </select>
        </br>
        <textarea id="textArea" value={{fileText::input}}></textarea>
        <paper-button id="saveFile" on-click="uploadFile" class="btn-green">Upload/Save</paper-button>
        <paper-button id="deleteFile" on-click="deleteFile" class="btn-red">Delete File</paper-button>
      </div>
    </div>
  </template>

  <script>
      class TextEditor extends Polymer.Element {
          static get is() {
              return 'text-editor';
          }

          static get properties() {
              return {
                  prop1: {
                      type: String,
                      value: 'Simple text editor'
                  },
                  files: {
                      type: Object,
                  },
                  fileText: {
                      type: String
                  },
                  baseUrl: {
                      type: String,
                      value: 'http://localhost:3000'
                  },
                  file: {
                      type: Object,
                  },
                  contentType: {
                      type: String,
                      value: "application/json"
                  },
                  fileNames: {
                      type: [],
                      value: []
                  },
                  fileName: {
                      type: String
                  },
                  isUploded:{
                      type: Boolean,
                      value: false
                  }
              };
          }

          /**
           * Called when the application has loaded.
           * It loads all existing text files from the server.
           */
          ready() {
              super.ready();
              this.$.getAllTextFiles.generateRequest();
          }

          /**
           * Called when a file has been chosen in #inputFile input field.
           * It shows a preview of the contents of the selected .txt file in a text-area.
           */
          parseInputTextFile(event) {
              const file = event.target.inputElement.inputElement.files[0];
              this.isUploded = true;
              this._readFileContent(file).then(content => {
                  this.fileText = content;
              }).catch(error => console.error(error));

          }

          _readFileContent(file) {
              const reader = new FileReader();
              return new Promise((resolve, reject) => {
                  reader.onload = event => resolve(event.target.result);
                  reader.onerror = error => reject(error);
                  reader.readAsText(file);
              })
          }

          /**
           * Called when the #saveFile button is clicked.
           * It uploads a file on the server. The uploaded file depends on whether
           * we have given a file to the #inputFile input field or we have selected
           * an already existing file in #fileSelect select form.
           */
          uploadFile() {
              let newFileName = this.$.inputFile.inputElement.inputElement.files[0] || this.fileName;
              if (newFileName.name) {
                  newFileName = newFileName.name;
              }
              this.$.sendFileToUpload.contentType = 'application/json';
              this.$.sendFileToUpload.body = {
                  fileName: newFileName,
                  textContent: this.fileText
              };
              this.$.sendFileToUpload.generateRequest();
              this.isUploded = false;
          }

          /**
           * Called on each change of the selection of #fileSelect.
           * Every time the value of the select form is changed, it gets a file from the
           * server depending on the selected file name and shows a preview in a text area.
           * @param event - the onchange event object
           */
          getFileByName(event) {
              this.fileName = event.target.value;
              if (this.fileName !== '') {
                  this.$.getFileByName.generateRequest();
              }
              else if(this.fileName === ''){
                  this.fileText = '';
              }
          }

          /**
           * Called as a success handler of the sendFileToUpload() request. When we upload a
           * new file, we reload the list of files in the #fileSelect select form.
           */
          reloadFiles() {
              this.$.inputFile.value = '';
              this.$.getAllTextFiles.generateRequest();
          }

          /**
           * Called as a success handler of the getFileByName() request. When we receive a
           * specified file, we show it in a text area.
           * @param event - the response event object
           */
          parseTextFile(event) {
              this.fileText = event.detail.response.document;
          }

          /**
           * Called as a success handler of the getAllTextFiles() request. When we initialize
           * the application, we load all existing text files from the server and show them in
           * the #fileSelect select form.
           * @param event - the response event object
           */
          parseTextFiles(event) {
              this.fileNames = event.detail.response;

          }
          /**
           * Called as a success handler of the deleteFileByName() request. When we receive a
           * specified file, we delete it from server and clear it in a text area.
           */
          deleteFile(){
              this.$.deleteFileByName.body = '';
              this.$.deleteFileByName.generateRequest();
              this.fileText = '';
          }
          /**
           * Refresh File list after delete request
           */
          deleteTextFile(event){
              this.$.getAllTextFiles.generateRequest();
          }
      }

      window.customElements.define(TextEditor.is, TextEditor);
  </script>
</dom-module>
